<!DOCTYPE html>
<html>
  <head>
    <title>CanYouDonate</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:100,200,300,400,600,500,700,800,900|Nunito+Sans:100,200,300,400,500,600,700,800,900&amp;subset=latin" rel="stylesheet">
    <!-- Bootstrap 4.3.1 CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Slick 1.8.1 jQuery plugin CSS (Sliders) -->
    <%#<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>%>
    <!-- Fancybox 3 jQuery plugin CSS (Open images and video in popup) -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <!-- AOS 2.3.4 jQuery plugin CSS (Animations) -->
    <link href="https://unpkg.com/aos@2.3.4/dist/aos.css" rel="stylesheet">
    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!-- jQuery 3.3.1 -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <header class="pt-100 pb-10 header_2">

	<!-- Header Menu 2 -->

  <body>
    <nav class="header_menu_2 transparent pt-30 pb-30 mt-20">
      <div class="container px-xl-0">
        <div class="row justify-content-between align-items-baseline">
          <div class="col-md-4">
            <div class="logo color-white">CanYouDonate.org</div>
          </div>
          <div class="col-md-6 d-flex justify-content-end align-items-center">
            <a href="#" class="link color-white f-18 mx-15">For Patients</a>
            <a href="#" class="link color-white f-18 mx-15">For Transplant Centers</a>
            <a href="#" class="btn sm action-2 mx-15">Log In</a>
          </div>
        </div>
      </div>
    </nav>
  </header>

    <%= yield %>
    <!-- forms alerts -->
    <div class="alert alert-success alert-dismissible fixed-top alert-form-success" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      Thanks for your message!
    </div>
    <div class="alert alert-warning alert-dismissible fixed-top alert-form-check-fields" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      Please, fill in required fields.
    </div>
    <div class="alert alert-danger alert-dismissible fixed-top alert-form-error" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      An error occurred while sending data :(
    </div>
    <script>
      $(document).on('turbolinks:load', function() {
        $('form').off();
      });
    </script>
  <!-- Bootstrap 4.3.1 JS -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
  <!-- Fancybox 3 jQuery plugin JS (Open images and video in popup) -->
  <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
  <!-- Google maps JS API -->
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyDP6Ex5S03nvKZJZSvGXsEAi3X_tFkua4U"></script>
  <!-- Slick 1.8.1 jQuery plugin JS (Sliders) -->
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <!-- AOS 2.3.4 jQuery plugin JS (Animations) -->
  <script src="https://unpkg.com/aos@2.3.4/dist/aos.js"></script>
  </body>
</html>
